.TaskCard {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 15rem;
    height: 13rem;
    font-size: 0.7rem;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 40%;
}

.taskBody {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.taskFooter {
    display: flex;
    justify-content: space-between;
}

.Icons {
    display: flex;
    gap: 0.5rem;
}

.deleteIcon {
    cursor: pointer;
    width: 1.5rem;
}

.editIcon {
    cursor: pointer;
    width: 1rem;
}

.approveBtn {
    height: 2rem;
    background-color: #8b51f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.priority {
    border-radius: 5px;
    width: auto;
    height: 1rem;
    padding: 0.2rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.statusOpen {
    background-color: #1fb142;
    color: white;
    border-radius: 15px;
    padding: 0.4rem;
    border: none;
    display: flex;
    align-items: center;
}

.statusClosed {
    background-color: #c0c0c0;
    color: white;
    border-radius: 15px;
    padding: 0.4rem;
    border: none;
    display: flex;
    align-items: center;
}

.statuspending {
    background-color: #ffc107;
    color: white;
    border-radius: 15px;
    padding: 0.4rem;
    border: none;
    display: flex;
    align-items: center;
}

.taskAssignment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.assign {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 1.5rem;
}