.DeleteModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.DeleteModalContent {
    background: white;
    padding: 2rem;
    padding-top: 0rem;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.DeleteModalButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.confirmDeleteBtn {
    background-color: #1fb142;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.cancelBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}